{{#modal-dialog title="Why the fees"}}
  <p>
    Transaction fees are needed in order to ensure the miners process the transaction.
    Without a fee the transaction may take a long time to get confirmed or it may not get confirmed at all.
  </p>
{{/modal-dialog}}
