{{partial 'nav'}}

<div class="container">
  {{outlet}}
</div>

{{outlet 'modal'}}

<div class="container">
  <footer>
    <ul class="list-inline">
      <li>by <a href="http://goshakkk.name/">@goshakkk</a></li>
      <li>1MJhdUoDyAQAVuTidqmqrk5xeLUN3BEJ7n</li>
      <li><a href="https://github.com/goshakkk/meklebar">View sources</a></li>
    </ul>
  </footer>
</div>
